//Primary
$primaryBlue: #0064a3;
$primaryGreen: #00a34f;

//secondary
$navy: #004c7a;
$purple: #9a00b3;
$red: #f00053;
$yellow: #f3c100;

//variants
$lightBlue: #f2f6f9;

$black: #0b0b0b;
$mediumGrey: #707070;
$lightGrey: #dfdede;
