//?--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--//
//?Header bar
//?site logo and navigation
//?--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--//
.bg-root {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.2s;
  transform: rotateX(-5deg);
  &[data-active] {
    transform: none;
  }
}
.animate-sub-menu-bg {
  //this element gets placed dynamically
  background: white;
  border-radius: $cardBorderRadius;
  box-shadow: $largeShadow;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  //transform: translateY(30px) rotateX(-15deg);
  transition: transform $timingQuick $easing, opacity 0.1s linear;
  transform-origin: 50% 0%;
  display: flex;
  justify-content: center;
  z-index: 0;
}
.bg-root[data-active] .animate-sub-menu-bg {
  opacity: 1;
  visibility: visible;
}
html body .main-header-bar .main-header-menu .menu-item:hover {
  .sub-menu {
    transition: opacity 0.15s linear;
    opacity: 0;
  }
  &.trigger-enter .sub-menu {
    visibility: visible;
  }
  &.trigger-enter-active .sub-menu {
    opacity: 1;
    transition: opacity 0.12s linear;
  }
}

body .main-header-bar .sub-menu li a {
  color: $primaryBlue;
}
body .main-header-bar {
  perspective: 200px;
  line-height: 1 !important;
  //navigation stuf

  /* styles to get seperation of demo btns and nav links */
  .ast-main-header-bar-alignment {
    width: calc(100% - 200px);
    #primary-menu {
      //nav links
      flex-wrap: nowrap;
    }
    .cv-util-nav .menu-item__button-row {
      display: flex;
      align-items: center;
      .cv-btn {
        &:not(.cv-btn--transparent) {
          border: 2px solid $primaryGreen;
        }
        white-space: nowrap;
        padding: 10px 15px 10px;
        font-size: 12px;
        line-height: 1;
        margin-left: 20px;
      }
      /* @media (max-width: 1050px) {
        flex-direction: column;
      } */
    }
    .main-navigation {
      padding-top: 20px;
      padding-left: 30px;
      flex-wrap: wrap;
      display: flex;
      justify-content: space-between;
      @media (max-width: 1040px) {
        //place where the menu wraps
        justify-content: flex-end;
        .main-header-menu {
          margin-top: 20px;
          order: 2;
        }
      }
    }
  }
  .main-header-menu .sub-menu {
    background: transparent;
    box-shadow: 0 0 0;
    border-top: 0;
  }

  .menu-item a {
    color: white;
    &:hover {
      text-decoration: none;
      transition: all $timingQuick $easing;
      transform: translateY(-1px);
      opacity: 0.8;
    }
  }
}

//? mobile icon
//this maybe should be more specific to thins with blue bg
.ast-header-break-point .menu-toggle .menu-toggle-icon:before {
  color: white !important;
}
.ast-flex.main-header-container {
  justify-content: space-between;
}

//--/--/--/--/--/--/--/--/--/--/--//
// ? all hamburger menu stuff
//--/--/--/--/--/--/--/--/--/--/--//
@media (max-width: $mediumScreen) {
  //this removes the hidden navigation from the flow when the mobile menu is closed
  .ast-main-header-bar-alignment {
    position: absolute;
  }
  [data-mobile-menu="open"] .ast-main-header-bar-alignment {
    position: relative;
  }
}
//? /* medium screen and small screen styles for the navigation */
//anything that is shown when mobil menu is open
@media (max-width: $mediumScreen) {
  body .main-header-bar-wrap [data-mobile-menu="open"] {
    .ast-main-header-bar-alignment {
      position: absolute;
      top: 60px;
      width: 100%;
    }
    .main-header-bar-navigation {
      margin: 0px;
      width: auto;
    }
    .main-navigation {
      background: white;
      border-radius: $cardBorderRadius;
      box-shadow: $largeShadow;
      padding: 20px;
      padding-left: 20px;
      flex-flow: column;
      align-items: flex-end;
    }
    //util nav
    .menu-item__button-row {
      max-width: 400px;
      .cv-btn--transparent {
        border: 2px solid $primaryBlue;
        color: $primaryBlue;
      }
    }
    .main-navigation .main-header-menu {
      width: 100%;
      flex-direction: column;
      background: none;
      a {
        border: none;
        width: auto;
      }
      button.ast-menu-toggle {
        position: relative !important;
        &:focus,
        &:hover {
          transform: translateY(-2px);
          border: none;
        }
        &:active {
          outline: none;
          transform: translateY(1px);
          border: none;
        }
        &:focus {
          border-bottom: 1px solid $primaryBlue;
        }
      }
    }
    .menu-item {
      justify-content: flex-start;
      flex-wrap: wrap;
      flex-direction: row;
      .sub-menu {
        width: 100%;
      }
    }
    .main-header-menu .menu-item a {
      color: $primaryBlue;
    }
  }
}

//?end of all the mobile, tablet specific stuff

//--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--//
//--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--//
//?this deals with the templates with the feature sidebar
[data-state="open"] {
  .feature-single__sidebar .site-title {
    background-image: url(/images/clearviewlogo--blue.svg);
  }
  .main-header-bar .site-title {
    display: none;
  }
}
.feature-single__wrapper--sidebar:not([data-state="open"]),
.ast-site-title-wrap {
  .site-title {
    background-image: url(/images/clearviewlogo.svg);
  }
}
//👆that deals with the templates with the feature sidebar

//?/* the logo */
.site-title,
.ast-site-title-wrap .site-title h1,
.ast-site-title-wrap .site-title {
  display: block;
  height: 50px;
  width: 200px;
  @media (max-width: $smallScreen) {
    width: 100px;
    height: 50px;
    background-position: center center;
  }
  position: relative;
  background-repeat: no-repeat;
  //background-image: url(/images/clearviewlogo.svg);
  background-size: contain;
  margin-top: 0;
  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
  }
}
