.bottom-cta {
  .btn-row .fl-col-content {
    @include flexRow(center);
  }
}
.bottom-cta--page {
  .fl-col-group {
    display: flex;
    align-items: center;
    @media (max-width: $smallScreen) {
      flex-direction: column;
    }
  }
  .btn-row .fl-col-content {
    justify-content: flex-end;
  }
}
