//--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--////
//page header
//--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--//

.page__hero > .fl-row-content-wrap,
.page__hero > .hero__wrapper {
  background-image: url(/images/secondbg.svg); // the background image for this row.
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  * {
    color: white;
  }
  h1 {
    color: white;
    font-size: 50px;
    @media (max-width: $smallScreen) {
      font-size: 38px;
    }
  }
  .cv-btn {
    & span {
      color: white;
    }
  }
}
body .fl-builder-content .page__hero {
  > .fl-row-content-wrap {
    padding: 150px 20px 30px;
  }
  &.single-template {
    > .fl-row-content-wrap {
      @media (min-width: 1300px) {
        padding: 150px 20px 275px;
      }
      @media (max-width: $smallScreen) {
        padding: 75px 20px;
      }
    }
  }
}
