/* base styles for simple elements

*/
//--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--//
//random variables
//--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--//
//border-radius VAR
$borderRadius: 4px;
$cardBorderRadius: 8px;
//baseFontSize VAR
$baseFontSize: 18px;

//--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--//
//Selector Overrides
//--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--//
$overrides: "body .fl-builder-content .fl-row"; //outputs these selectors to get over beaverbuilders defaults

//--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--//
//typography
///////--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--//
//font family
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: $heading;
}
//set black
h1,
h3,
h4,
h5,
h6,
p {
  color: $black;
}
#{$overrides} h2 {
  color: $primaryBlue;
}

//sizing
body,
p {
  @include fontSize($baseFontSize, 1.5em);
}

h1 {
  @include fontSize(48.01px);
}
h2 {
  font-weight: 700;

  @include fontSize(32px);
}
h3 {
  @include fontSize(24px);
}
h4 {
  @include fontSize(20px);
}
h5 {
  letter-spacing: 1px;
  @include fontSize(14px);
}

//font weight
h5,
.bold,
strong {
  font-weight: 700;
}

//reusable type treatments

.header-tag {
  h2 {
    span {
      display: block;
      margin: 20px 0;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
      color: var(--color);
      font-size: 20px;
    }
  }
}

//--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--//
//links
//--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--//
body a {
  color: $primaryBlue;
  text-decoration: none;
  &:hover {
    color: darken($primaryBlue, 20%);
    text-decoration: underline;
  }
}
* {
  @if (currentColor == white) {
    & > a {
      // if the color around the link is white make the link be white too.
      color: white;
      &:hover {
        color: white;
      }
    }
  }
}

//--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--//
//buttons
//--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--/--//
a.cv-btn,
.cv-btn a,
#{$overrides} .cv-btn a {
  box-shadow: $smallShadow;
  padding: 8px 24px;
  @include button(); //default color is green
  & * {
    color: white;
  }
}
a.cv-btn-large,
#{$overrides} .cv-btn-large a {
  @extend .cv-btn;
  padding: 15px 55px;
}

//change colors
a.cv-btn,
.cv-btn a,
#{$overrides} .cv-btn {
  &.cv-btn-white {
    a {
      @include button(white);
      & * {
        color: $primaryBlue;
      }
    }
  }
  &.cv-btn-lightBlue {
    a {
      @include button($lightBlue);
      & * {
        color: $primaryBlue;
      }
    }
  }
  &.cv-btn-red {
    a {
      @include button($red);
    }
  }
  &.cv-btn-yellow {
    a {
      @include button($yellow);
    }
  }
  &.cv-btn-blue {
    a {
      @include button($primaryBlue);
    }
  }
  &.button--learn-more {
    a {
      @include button(var(--color));
      //padding: 16px 16px;
    }
  }
  &.cv-btn--transparent {
    background: transparent;
    border: 2px solid currentColor;
  }
}

//--/--/--/--/--/--/--/--/--/--/--//
//Quick helper classes to add quick styling
//--/--/--/--/--/--/--/--/--/--/--//
.flex-row {
  //apply to columns
  > .fl-col-content {
    @include flexRow();
  }
}
.shadow-sml {
  box-shadow: $smallShadow;
}
.center {
  text-align: center;
}
//center everything only on mobile
.center--mobile,
.center--mobile * {
  @media (max-width: $smallScreen) {
    text-align: center;
  }
}

//elements that need to use the color var
.useColor--border-top {
  //all border top like classes that need to use this var
  .uabb-module-content .uabb-separator {
    border-top-color: var(--color);
  }
}
.useColor--svg {
  fill: var(--color);
}

//--/--/--/--/--/--/--/--/--/--/--//
//beaverbuilder resets
//universally set defaults to my styles
//--/--/--/--/--/--/--/--/--/--/--//
.fl-col-small {
  @media (max-width: $smallScreen) {
    max-width: $mobileMaxWidth;
  }
}

/* stupid beaverbuilder tool tips get in the way */

#tiptip_holder {
  pointer-events: none;
  transform: translateY(40px);
}
